---
permalink: /
layout: "base"
title: "home"
eleventyNavigation:
  key: "Home"
class: "home"
---
<main class="stack">

  <div class="header sidebar sidebar--right">
    
    <div class="title-block centered">
      <h1 class="title sans-serif">{{ ring.title }}</h1>
      <p class="subtitle sans-serif">{{ ring.description }}</p>
    </div>

    <nav class="nav-block centered">
    
      <ul class="sans-serif">
        <li>
          <a href="{{ ring.url }}prev/">
            {% icon "feather:arrow-left" %}
            <span>Previous website</span>
          </a>
        </li>
        <li>
          <a href="{{ ring.url }}random/">
            {% icon "feather:shuffle" %}
            <span>Random website</span>
          </a>
        </li>
        <li>
          <a href="{{ ring.url }}next/">
            {% icon "feather:arrow-right" %}
            <span>Next website</span>
          </a>
        </li>
      </ul>

      <div class="ad" >
        <p>
          <a href="#join-this-webring">Join this webring</a>
        </p>
      </div>

    </nav>
  </div>

  <div class="members-block"> 
      <h2>Members <span eleventy:id-ignore>({{ members.size }})</span></h2>
      <ul class="member-wrapper" >
        {% for member in members %}
          {% if member.name and member.website %}
            <li class="member" >
              <h3>
                <a href="{{ member.website }}">{{ member.name }}</a>
              </h3>
              <ul class="social" >
                {% if member.linkedin %}
                  <li>
                    <a href="{{ member.linkedin }}">
                      {% icon "feather:linkedin" %}
                      <span class="sr-only">LinkedIn profile: {{ member.name }}</span>
                    </a>
                  </li>
                {% endif %}
                {% if member.orcid %}
                  <li>
                    <a href="{{ member.orcid }}">
                      {% icon "simple:orcid" %}
                      <span class="sr-only">ORCID profile: {{ member.name }}</span>
                    </a>
                  </li>
                {% endif %}     
                {% if member.github %}
                  <li>
                    <a href="{{ member.github }}">
                      {% icon "simple:github" %}
                      <span class="sr-only">GitHub profile: {{ member.name }}</span>
                    </a>
                  </li>
                {% endif %}
                {% if member.bluesky %}
                  <li>
                    <a href="{{ member.bluesky }}">
                      {% icon "simple:bluesky" %}
                      <span class="sr-only">Bluesky profile: {{ member.name }}</span>
                    </a>
                  </li>
                {% endif %}
                {% if member.mastodon %}
                  <li>
                    <a href="{{ member.mastodon }}">
                      {% icon "simple:mastodon" %}
                      <span class="sr-only">Mastodon profile: {{ member.name }}</span>
                    </a>
                  </li>
                {% endif %}
                {% if member.rss %}
                  <li>
                    <a href="{{ member.rss }}">
                      {% icon "simple:rss" %}
                      <span class="sr-only">RSS feed: {{ member[1].name }}</span>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </li>
          {% endif %}
        {% endfor  %}
      </ul>

    <div>
      <h2 >Join this webring</h2>
      <p>Would you like to add youself to this webring?</p>
      <h3>Review the code of condcut</h3>
      <p>Note this webring's code of conduct.</p>
      <h3>Follow the contribution guidelines</h3>
      <p>Additional instrutions.</p>
    </div>
  </div>


  <div >
    <h2>Embed this webring on your website</h2>
  {%- include 'partials/embed' -%}
  </div>

</main>