<div class="grid">
    <pre aria-label="webring embed code" role="region" tabindex="0" >
        <code id="code" class="language-html">
&lt;nav class="{{ ring.title | slugify }}" aria-labelledby="{{ ring.title | slugify }}"&gt;
    &lt;h2 id="{{ ring.title | slugify }}"&gt;{{ ring.title }}&lt;/h2&gt;
    &lt;p&gt;This site is a member of the &lt;a rel="external" href="{{ ring.url }}"&gt;{{ ring.title }}&lt;/a&gt;.&lt;/p&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a rel="external" referrerpolicy="strict-origin" href="{{ ring.url }}prev/"&gt;Previous url&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a rel="external" referrerpolicy="strict-origin" href="{{ ring.url }}random/"&gt;Random url&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a rel="external" referrerpolicy="strict-origin" href="{{ ring.url }}next/"&gt;Next url&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</code>
    </pre>
    <button data-copy="#code" type="button">
        {% icon "feather:save" %}
        <span class="sr-only">Copy webring embed code</span>
    </button>
</div>

        {% capture js-embed %}
            {% include "assets/js/copy.js" %}
        {% endcapture %}
        <script>
            {{ js-embed }}
        </script>