<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="{{ eleventy.generator }}">

    <title>
        {% if title and title != "home" %}
            {{ title }} &nbsp;&middot;&nbsp;
        {% endif %}
        {{ site.title }}
    </title>

    {% block style %}
        <link rel="stylesheet" href="/css/style.css">
    {% endblock %}

    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">

</head>