
        <h3 id="{{ member.name | slugify }}">
            <a href="{{ member.website }}">{{ member.name }}</a>
        </h3>
        <ul class="members__accounts subtle-list">
            {% if member.linkedin %}
                <li>
                    <a href="{{ member.linkedin }}">
                        {% svg 'linkedin' %}
                        <span class="visually-hidden">LinkedIn profile: {{ member.name }}</span>
                    </a>
                </li>
            {% endif %}
            {% if member.orcid %}
                <li>
                    <a href="{{ member.orcid }}">
                        {% svg 'orcid' %}
                        <span class="visually-hidden">ORCID profile: {{ member.name }}</span>
                    </a>
                </li>
            {% endif %}     
            {% if member.github %}
                <li>
                    <a href="{{ member.github }}">
                        <span class="visually-hidden">GitHub profile: {{ member.name }}</span>
                    </a>
                </li>
            {% endif %}
            {% if member.bluesky  %}
                <li>
                    <a href="{{ member.bluesky }}">
                        <span class="visually-hidden">Bluesky profile: {{ member.name }}</span>
                    </a>
                </li>
            {% endif %}
            {% if member.mastodon  %}
                <li>
                    <a href="{{ member.mastodon }}">
                        {% svg 'mastodon' %}
                        <span class="visually-hidden">Mastodon profile: {{ member.name }}</span>
                    </a>
                </li>
            {% endif %}
            {% if member.rss  %}
                <li>
                    <a href="{{ member.rss }}">
                        {% svg 'rss' %}
                        <span class="visually-hidden">RSS feed: {{ member.name }}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
